<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
	<listeners>
			<listener class-name = "com.ap.utility.ListenerSetup"/>
			<listener class-name = "com.ap.utility.ExtentReporterNG"/>
			
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ap.testlayer.SignupTest"/>
      <class name="com.ap.testlayer.LoginTest"/>
       <class name="com.ap.testlayer.AddressTest"/>
        <class name="com.ap.testlayer.PaymentMethodTest"/>
      <class name="com.ap.testlayer.ProductTest"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- RegressionSuite -->
